<%= render "shared/topnavbar" %>

<h1>My Activites</h1>

<div>
  <table class = "mytable">

  <thead>
    <tr>
      <th>Activity </th>
      <th>Category</th>
      <th>Price</th>
      <th>Location</th>
      <th>Attendee</th>
      <th>Date</th>
      <th>Chatoom</th>
      <th>Cancel</th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= link_to participation.activity.name, activity_path(participation.activity) %></td>
        <td><%= participation.activity.category %></td>
        <td><%= participation.activity.price %></td>
        <td><%= participation.activity.location %></td>
        <td><%= participation.activity.capacity %></td>
        <td><%= participation.participation_date %></td>
        <td><%= link_to chatroom_path(participation.activity.chatroom) do %>
          <i class="fa-solid fa-link"></i>
        <% end %></td>
        <td><%= link_to participation_path(participation),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash-can"></i>
        <% end %></td>
        </tr>

    <% end %>
  </tbody>
  </table>
<div>
