<div id="globalcontainer" data-controller="button">
  <div class="navbar navbar-expand-sm navbar-light navbarr-lewagon" id="topnavbar">
    <div class="container-fluid" style="background-color: #472151">
      <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <%= link_to activities_path(), class: "navbar-brand" do %>
        <%= image_tag "new.png", class: "logotop", style: "width: 100px;"%>
        <% end %>
              <div class="sidemenu">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-dice-six" style="color: white;"></i>NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_dashboard"><i class="fa-solid fa-table-columns" style="color: white;"></i>MY DASHBOARD</a>
        </li>
      </ul>
      </div>
            <%# <a class="nav-link" href="/activities"><i class="fa-solid fa-house" style="color: #3b2747;"></i>  Home</a>
            <a class="nav-link" href="/activities"><i class="fa-solid fa-table-columns" style="color: #3b2747;"></i>  My dashboard</a>
        </p>
        </div> %>

      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
        <% if user_signed_in? && current_user.avatar.key %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", 'data-bs-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"%>
        <% else %>
          <%= image_tag "avatar.png", class: "avatar-large dropdown-toggle", id: "navbarDropdown", 'data-bs-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" %>
        <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li> <%= link_to destroy_user_session_path, class: "dropdown-item", data: {turbo_method: "delete"} do %>
              <i class="fa-solid fa-arrow-right-from-bracket" style="color: #3b2747;"></i> Log out
          <%= link_to edit_user_registration_path, class: "dropdown-item", data: { turbo_action: "replace" } do %>
            <i class="fa-solid fa-edit" style="color: #3b2747;"></i> Edit Profile
          <% end %>
              <% end %>
            </li>
            </div>
        </ul>
      </div>
    </div>
  </div>
</div>
