<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Amatic+SC&family=Assistant:wght@500&family=Cardo&family=Cormorant+Garamond:wght@300&family=Figtree:wght@500&family=Montserrat:wght@200;300;400;500;600&family=Open+Sans:wght@300&family=Raleway:wght@300;400&family=Work+Sans:wght@100&display=swap" rel="stylesheet">

  <div class="cards">
      <% @activities.each do |activity| %>
              <%= link_to activity_path(activity) do %>
          <div class= "card-category">
            <%= cl_image_tag activity.photo.key, width: 300, height: 150, crop: :fill%>
            <h1><%= activity.name %></h1>
            <p class="location"><%= activity.location %></p>
            <ul>
              <% if activity.category == "indoor" %>
                <li class="indoor"><%= activity.category %></li>
              <% else %>
                <li class="outdoor"><%= activity.category %></li>
                </li>
              <% end %>
              <div class= "list">
                <div class="price">
              <li><%= activity.price %></li>
                <p>euros</p>
                </div>
                <div class="capacity">
              <li><%= activity.capacity %></li>
                <p>capacity</p>
                </div>
              </div>
              <li class="text"><%= activity.description %></li>
            </ul>
            </div>
        <% end %>
      <% end %>
  </div>
