<%# <div><%= render "shared/search" %>
<%= render "shared/navbar" %>
  <div class="cities">
  <%= button_to "Antwerpen", activities_path, params: {where: "Antwerpen"}, method: :get, class: "btn text-white" %>
  <%= button_to "Brussels", activities_path, params: {where: "Brussels"}, method: :get, class: "btn btn-primary" %>
  <%= button_to "Wallonie", activities_path, params: {where: "Wallonie"}, method: :get, class: "btn btn-primary" %>
  <%= button_to "Gent", activities_path, params: {where: "Gent"}, method: :get, class: "btn btn-primary" %>
  <%= button_to "Discover ALL", activities_path, params: {where: "all"}, method: :get, class: "btn btn-primary" %>
  </div>
<div class="cards-container">
  <div class="cards">
      <% @activities.each do |activity| %>
        <%= link_to activity_path(activity) do %>
          <div class= "card-category">
            <%= cl_image_tag activity.photo.key, width: 300, height: 150, crop: :fill%>
            <h1><%= activity.name %></h1>
            <p class="location"><%= activity.location %></p>
            <ul>
              <% if activity.category == "indoor" %>
                <li class="indoor"><%= activity.category %></li>
              <% else %>
                <li class="outdoor"><%= activity.category %></li>
                </li>
              <% end %>
              <div class= "list">
                <div class="price">
              <li><%= activity.price %></li>
                <p>euros</p>
                </div>
                <div class="capacity">
              <li><%= activity.capacity %></li>
                <p>capacity</p>
                </div>
              </div>
              <li class="text"><%= activity.description %></li>
            </ul>
            </div>
        <% end %>
      <% end %>
  </div>

    <div class="map" style="width: 50%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
