<%# <div><%= render "shared/search" %>
<%= render "shared/navbar" %>

<div class="cards-container" id="toppage">
  <div class="cards">
      <% @activities.each do |activity| %>
        <%= link_to activity_path(activity) do %>
          <div class= "card-category">
            <%= cl_image_tag activity.photos.first.key, width: 350, height: 150, crop: :fill%><hr>
            <h1><%= activity.name %></h1>
            <p class="location"><%= activity.location %></p>
            <ul>
              <% if activity.category == "indoor" %>
                <li class="indoor"><%= activity.category %></li>
              <% else %>
                <li class="outdoor"><%= activity.category %></li>
                </li>
              <% end %>
              <div class= "list">
                <div class="price">
                <% if activity.price == 0 %>
                <li style="text-align: right; color: green;"><%= "free" %></li>
                <% else %>
                <li style="text-align: right;"><%= activity.price %></li>
                <% end %>
                <p style="font-size: 23px; color: grey;">euros</p>
                </div>
                <div class="capacity" style="margin-left: 75px">
              <li><%= activity.capacity - activity.participations.size %></li>
                <p style="font-size: 23px; color: grey;">Spots left</p>
                </div>
              </div>
              <hr>
              <li class="text"><%= activity.description[0..115]%>...</li>
            </ul>
            </div>
        <% end %>
      <% end %>
  </div>
    <div class="map" style="width: 50%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
