<h2><%= @activity.name %></h2>
<p><%= @activity.description %></p>
<p><%= @activity.price %></p>
<p><%= @activity.start_date %></p>
<p><%= @activity.end_date %></p>
<p><%= @activity.capacity %></p>
<p><%= @activity.location %></p>
