<%= render "shared/topnavbar" %>
<!------ Include the above in your HEAD tag ---------->
<div id="totalcontainer" data-controller="toggle-map">

<div class="container" id="containershow">
  <div>
    <div>
      <div class="card-show text-center">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @activity.photos[0].key , width: 600, height: 300%>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @activity.photos[1].key, width: 600, height: 300%>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @activity.photos[2].key, width: 600, height: 300%>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

        <div class="card-body">
          <h5 class="card-title"><%= @activity.name %></h5>
          <hr>
          <p>
             <%# <button class="btnmap" data-toggle="collapse" > %>

            <button class="btnmap" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample" data-action="click -> toggle-map#maptoggle" >
              <i class="fas fa-map" style="color: #f2ad73;"></i> Maps
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card-show card-body">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
                <%# <%= link_to '➕ Participate', activity_participations_path(@activity), data: {turbo_method: :post}%>
               <%= simple_form_for [@activity, @participation], data: { controller: 'flatpickr' } do |f| %>
               <%= f.date_field :participation_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
               <%= f.submit 'Confirm Date' %>
               <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="moreinfos">
    <h1><%= @activity.name %><hr></h1>
    <i class="fa-solid fa-play" style="color: #472151;"></i> <%= @activity.description %><hr>
    <i class="fa-solid fa-location-pin" style="color: #f2ad73;"></i>  <%= @activity.address %> <hr>

  <div class="d-none" data-toggle-map-target="map">
      <div class="mapshow" style="width: 400px; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div><hr>
  </div>

    <i class="fa-solid fa-link" style="color: #f2ad73;"></i> <%=link_to "Read more about it", @activity.link,  target: "_blank" %> <hr>
    <i class="fa-solid fa-person-breastfeeding" style="color: #f2ad73;"></i> <%= @activity.capacity %> <hr>
    <i class="fa-solid fa-hand-holding-dollar" style="color: #f2ad73;"></i> <%= @activity.price%> €<hr>
    <%= simple_form_for([@activity, @review], data: { controller: "form-submit" }) do |f|%>
      <p><i class="fa-solid fa-star fa-sm" style="color: #f2ad73;"></i><%= f.input :rating, collection: (1..5).to_a, label: "Add a rating", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %></p>
          <%# <%= f.submit, hmtl: {class: "d-none"} %>
      <% end %><hr>
    <i class="fa-solid fa-person-breastfeeding" style="color: #f2ad73;"></i> <%= @activity.capacity - @activity.participations.size %> Spots <hr>
    <i class="fa-solid fa-hand-holding-dollar" style="color: #f2ad73;"></i> <%= @activity.price%> €    |   Children Free<hr>
    <i class="fa-solid fa-hand-holding-dollar" style="color: #f2ad73;"></i> <%= @activity.participations.size %> Mums Attending<hr>
    <i class="fa-solid fa-link" style="color: #f2ad73;"></i> <%=link_to "Learn More", @activity.link,  target: "_blank" %> <hr>

  </div>
</div>

</div>
