<!DOCTYPE html>
<html>
  <head>
    <title>Newmums</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Amatic+SC&family=Assistant:wght@500&family=Cardo&family=Cormorant+Garamond:wght@300&family=Figtree:wght@500&family=Montserrat:wght@200;300;400;500;600&family=Open+Sans:wght@300&family=Raleway:wght@300;400&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <meta name="turbo-visit-control" content="reload">
  </head>

  <body>
    <%# <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/Hasnaes/newmums" target="blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/explore/tags/newmum/" target="blank" ><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/newgenmum/" target="blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="footer-copyright">
      NewMum with <i class="fas fa-heart"></i>
    </div>
  </div>
  </body>

</html>
